.vp-videos {
  margin-top: 30px;
}

.vp-videos .vp-videos__video-item:hover {

}

.vp-videos .vp-videos__play-icon {
  color: #FF4081;
  margin-bottom: 32px !important;
}

.vp-videos md-list-item.selected {
  background: rgba(158,158,158,0.2);
}
