<md-toolbar class="md-tall vp-toolbar" md-whiteframe="3">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggleMenuSidenav()">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <md-button class="md-fab md-fab-top-left vp-add-video-fab"
               ng-click="$ctrl.addVideo()"
               ng-hide="$ctrl.hideFab"
               aria-label="Add video">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
  </div>
  <div class="md-toolbar-tools md-toolbar-tools-bottom">
    <div class="vp-toolbar-breadcrumbs">
      <span>My Videos</span>
      <ng-md-icon icon="keyboard_arrow_right" ng-show="$ctrl.video"></ng-md-icon>
      <span ng-show="$ctrl.video">{{ $ctrl.video.name }}</span>
    </div>
  </div>
</md-toolbar>
