<div flex style="background: burlywood" layout="column">
  <md-content class="md-padding" layout="column" flex ui-view="main"></md-content>
</div>
<div flex="30" style="background: #e1e1e1" ui-view="side"></div>

<!--div<div layout="row" layout-fill>-->
  <!--<md-content class="md-padding" layout="column" flex>-->
    <!--<div ui-view="main"></div>-->
  <!--</md-content>-->

<!--</div>-->

<!--<md-content class="md-padding" layout="column">-->
  <!--<div ui-view="main"></div>-->
  <!--&lt;!&ndash;<md-list>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-list-item ng-repeat="user in vm.users | filter: vm.searchTerm | orderBy:'name'">&ndash;&gt;-->
      <!--&lt;!&ndash;<md-button ng-click="vm.selectUser(user)" ng-class="{'selected': user === vm.selectedUser}">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-icon md-svg-icon="{{ user.avatar }}" class="md-avatar user-avatar"></md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ user.name }}&ndash;&gt;-->
      <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->

    <!--&lt;!&ndash;<md-list-item class="md-2-line">&ndash;&gt;-->
      <!--&lt;!&ndash;<ng-md-icon icon="play_circle_fill" size="40"></ng-md-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="md-list-item-text" layout="column">&ndash;&gt;-->
        <!--&lt;!&ndash;<p>Video 1</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-list-item>&ndash;&gt;-->
  <!--&lt;!&ndash;</md-list>&ndash;&gt;-->



  <!--<md-card>-->
    <!--<md-card-title>-->
      <!--<md-card-title-text>-->
        <!--<span class="md-headline">Card with image</span>-->
      <!--</md-card-title-text>-->
    <!--</md-card-title>-->
    <!--<md-card-content>-->
      <!--<videogular vg-theme="$ctrl.config.theme" vg-player-ready="$ctrl.onPlayerReady($API)">-->
        <!--<vg-media vg-src="$ctrl.config.sources"-->
                  <!--vg-tracks="$ctrl.config.tracks">-->
        <!--</vg-media>-->
        <!--<vg-controls>-->
          <!--<vg-play-pause-button></vg-play-pause-button>-->
          <!--<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>-->
          <!--<vg-scrub-bar>-->
            <!--<vg-scrub-bar-current-time></vg-scrub-bar-current-time>-->
          <!--</vg-scrub-bar>-->
          <!--<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>-->
          <!--<vg-volume>-->
            <!--<vg-mute-button></vg-mute-button>-->
            <!--<vg-volume-bar></vg-volume-bar>-->
          <!--</vg-volume>-->
          <!--<vg-fullscreen-button></vg-fullscreen-button>-->
        <!--</vg-controls>-->
        <!--<my-replay-plugin></my-replay-plugin>-->
        <!--<vg-overlay-play></vg-overlay-play>-->
        <!--<vg-buffering></vg-buffering>-->
        <!--<vg-poster vg-url='controller.config.plugins.poster'></vg-poster>-->
      <!--</videogular>-->
      <!--<form name="newClipFor">-->
        <!--<md-input-container>-->
          <!--<label for="startTime">Start Time (seconds):</label>-->
          <!--<input type="number" id="startTime" name="startTime" ng-model="$ctrl.startTime" required>-->
        <!--</md-input-container>-->
        <!--<md-input-container>-->
          <!--<label for="endTime">End Time (seconds):</label>-->
          <!--<input type="number" id="endTime" name="endTime" ng-model="$ctrl.endTime" required>-->
        <!--</md-input-container>-->
        <!--<md-button class="md-primary" ng-click="$ctrl.createClip($ctrl.startTime, $ctrl.endTime)" ng-disabled="newClipFor.$invalid">Create clip</md-button>-->
      <!--</form>-->
    <!--</md-card-content>-->
    <!--<md-card-actions layout="row" layout-align="end center">-->
      <!--<md-button ng-click="$ctrl.setVideo($index)" ng-repeat="clip in $ctrl.videos">Clip {{ $index + 1 }}</md-button>-->
    <!--</md-card-actions>-->
  <!--</md-card>-->
<!--</md-content>-->