<md-dialog>
  <form name="createClipForm" ng-submit="ctrl.save()">
    <md-dialog-content>
      <div layout="column" layout-padding>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" ng-model="ctrl.clip.name" required>
            <div ng-messages="createClipForm.name.$error">
              <div ng-message="required">This field is required</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label for="startTime">Start Time (mm:ss)</label>
            <input type="text" id="startTime" name="startTime" ng-model="ctrl.clip.start_time" ui-mask="99:99" ui-options="{addDefaultPlaceholder: false}" required>
            <div ng-messages="createClipForm.startTime.$error">
              <div ng-message="required">This field is required</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label for="endTime">End Time (mm:ss)</label>
            <input type="text" id="endTime" name="endTime" ng-model="ctrl.clip.end_time" vp-validate-greater-than="ctrl.clip.start_time" ui-mask="99:99" ui-options="{addDefaultPlaceholder: false}" required>
            <div ng-messages="createClipForm.endTime.$error">
              <div ng-message="required">This field is required</div>
              <div ng-message="vpGreaterThan">End Time should be greater than Start Time</div>
            </div>
          </md-input-container>
        </div>
        <md-input-container class="md-block" flex>
          <label for="description">Description</label>
          <textarea name="description" id="description" ng-model="ctrl.clip.description" rows="5"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="ctrl.cancel()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-primary md-raised" ng-disabled="createClipForm.$invalid">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
