.vp-video-details {
  background: #eee;
}

.vp-video-details .vp-video-details__title {
  background: #FF80AB;
  height: 200px;
  position: relative;
  text-align: center;
  line-height: 150px;
  color: #C51162;
}
