.vp-videos-list {
  margin-top: 30px;
}

.vp-videos-list .vp-videos__play-icon {
  color: #FF4081;
  margin-bottom: 32px !important;
}

.vp-videos-list md-list-item.selected {
  background: rgba(158,158,158,0.2);
}
